<div class="center jumbotron">
<!-- <h1>StaticPages#home</h1> -->
  <% if  logged_in? %>
    <%= render 'shared/loggedinhome' %>
  <% else %>
    <%= render 'shared/loggedouthome' %>
  <% end %>
</div>
