<div class="center jumbotron">
  <table>
    <thead>
      <tr>
        <th>Journey</th>
        <!-- <th>Bus</th> -->
        <th>Departure date/time</th>
        <th>Arrival time</th>
        <th>Max Seats</th>
        <th>Free Seats</th>
      </tr>
    </thead>
  <%= render @journeys %>
</table>


</div>
